<!DOCTYPE html>
<html>
  <head>
    <title>ImmersiveRailsAssessment</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if !logged_in? %>
      <%= link_to "Sign Up", new_registration_path %>
      <%= link_to "Log In", new_session_path %>
    <% else %>
      <%= link_to "Log Out!", session_path(current_user), method: :delete %>
    <% end %>
    <br><br>
    <%= yield %>
  </body>
</html>
